extends layout

block content

  h1 Brand: #{brand.name}
  if brand.established
    p Est: #{brand.est_formatted}

  div(style='margin-left:20px;margin-top:20px')

    h4 Shoes

    dl
      each shoe in brand_shoes
        dt
          a(href=shoe.url) #{shoe.name}
        dd $#{shoe.price} - #{shoe.description}

      else
        p This brand has no shoes.

  hr
  p
  a(href=brand.url+'/delete') Delete brand
