extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of shoe' name='name' required='true' value=(undefined===shoe ? '' : shoe.name) )
    div.form-group
      label(for='brand') Brand:
      select#brand.form-control(type='select', placeholder='Select brand' name='brand' required='true' )
        - brands.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for brand in brands
          if shoe
            option(value=brand._id selected=(brand._id.toString()===shoe.brand._id.toString() ? 'selected' : false) ) #{brand.name}
          else
            option(value=brand._id) #{brand.name}
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===shoe ? '' : shoe.description}
    div.form-group
      label(for='price') Price ($):
      input#price.form-control(type='number', placeholder='45' name='price' value=(undefined===shoe ? '' : shoe.price) required='true')
    div.form-group
      label Type:
      div
        for type in types
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='type', id=type._id, value=type._id, checked=type.checked )
            label(for=type._id) #{type.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
